// LIFE Groups page section

  // Establish the height of the main section
  // Small
  .section-LIFE Groups-top {
    

    // Medium sized
    @media only screen and (min-width: 40.063em) {
      height: 750px;
    }

    // Large sized
    @media only screen and (min-width: 768px) {
      height: 680px;
    }

    // Large and a bit taller
    //@media only screen and (min-width: 768px) and (min-height: 650px) {
    //  height: 630px;
    //}

    // Large and tallest
    @media only screen and (min-width: 768px) and (min-height: 700px) {
      height: 680px;
    }
  }

  // Hide the tertiary nav
  .LIFE Groups .page-tertiary {
    display: none;
  }

  // Clear the call to action
  .section-LIFE Groups-find {
    padding: 4em 0 3.5em;
    clear: both;
  }

  // Tiles below main section
  .section-LIFE Groups-tiles {
    max-width: 1500px;
    margin: 0 auto;
    background: #222;

    // Make them a little bigger w/ spacing on larger screens
    @media #{$medium-up} {
      height: 250px;
      border-top: 2px solid #222;
    }
  }

  // The tiles themselves
  .LIFE Groups-tile {
    height: 180px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    position: relative;
    background-color: #222;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;

    // Put borders between them on small
    @media #{$small-only} {
      border-top: 2px solid #222;
    }

    // Put borders either side of the middle one on large
    @media #{$medium-up} {
      height: 250px;
      width: 33%;
      float: left;
      padding-top: 100px;
      background-size: 550px 313px;
      border-left: 2px solid #222;
      border-right: 2px solid #222;

      // Tile hover preperation
      &:after {
        @include transition-property(background);
        @include transition-duration(.25s);
        content: "";
        width: 100%;
        height: 250px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.3);
      }

      // Tile hover action
      &:hover:after {
        background: rgba(0,0,0,.6);
      }

      // Remove borders from first/last on large
      &.LIFE Groups-tile-first,
      &.LIFE Groups-tile-last {
        border: none;
      }

      // Make last a little larger for math
      &.LIFE Groups-tile-last {
        width: 34%;
      }
    }

    // Text in the tiles
    span {
      color: #fff;
      @extend h4;
      display: block;
      position: relative;
      z-index: 2;
      text-shadow: 0 2px 3px #000;
    }
  }

  // Tile 1
  .LIFE Groups-tile-1 {
    @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-1-tile');
  }

  // Tile 2
  .LIFE Groups-tile-2 {
    @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-2-tile');
  }

  // Tile 3
  .LIFE Groups-tile-3 {
    @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-3-tile');
  }

  // Tile 4
  .LIFE Groups-tile-4 {
    @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-4-tile');
  }


// Page-specific

  .has-alerts.LIFE Groups-1,
  .has-alerts.LIFE Groups-2,
  .has-alerts.LIFE Groups-3,
  .has-alerts.LIFE Groups-4 {
    background-position: left 44px;
    @media #{$medium-up} {
      background-position: center 44px;
    }
  }

  // LIFE Groups 1
  .LIFE Groups-1 {
    background-repeat: no-repeat;
    background-color: #222;

    @media #{$small-only} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-1-thin');
      background-color: #f1eae4;
      background-size: 100% auto;
      background-position: left top;
    }

    @media #{$medium-up} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-1');
      background-size: 1700px auto;
      background-position: -320px top;
    }

    @media #{$large-up} {
      background-size: 1500px auto;
      background-position: center top;
    }
  }

  // LIFE Groups 2
  .LIFE Groups-2 {
    background-repeat: no-repeat;
    background-color: #222;

    @media #{$small-only} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-2-thin');
      background-size: 100% auto;
      background-position: left top;
      background-color: #e9e9dd;
    }

    @media #{$medium-up} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-2');
      background-size: 1700px auto;
      background-position: -320px top;
    }

    @media #{$large-up} {
      background-size: 1500px auto;
      background-position: center top;
    }
  }

  // LIFE Groups 3
  .LIFE Groups-3 {
    background-repeat: no-repeat;
    background-color: #222;

    @media #{$small-only} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-3-thin');
      background-size: 100% auto;
      background-position: left top;
      background-color: #000;
    }

    @media #{$medium-up} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-3');
      background-size: 1700px auto;
      background-position: -320px top;
    }

    @media #{$large-up} {
      background-size: 1500px auto;
      background-position: center top;
    }
  }

  // LIFE Groups 4
  .LIFE Groups-4 {
    background-repeat: no-repeat;
    background-color: #222;

    @media #{$small-only} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-4-thin');
      background-size: 100% auto;
      background-position: left top;
      background-color: #e9e9dd;
    }

    @media #{$medium-up} {
      @include background-image-2x-jpg('/images/LIFE Groups/LIFE Groups-4');
      background-size: 1700px auto;
      background-position: -320px top;
    }

    @media #{$large-up} {
      background-size: 1500px auto;
      background-position: center top;
    }

  }
